# Environment files
.env
.env.*
!.env.example

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/
build/

# Vite
.vite/

# npm
npm-debug.log*

# Upload folders (if generated locally)
uploads/

# Temporary files
*.tmp
*.temp


#uploads 
uploads/